# Environment variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Deno specific
.deno/

# Bun specific
/front/node_modules/

# Build output
dist/